*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul{
	list-style: none;
}

a{
	text-decoration: none;
}

body{
	font-family: "Open Sans", sans-serif;
}

.debug{
    border: 1px solid red;
}

.debug-1{
    border: 1px solid black;
}

:root {
	--color-background: #ffffff;
	--color-background-image: #b4d0e7;
	--color-button: #0061ff;
	--color-background-footer: #000000;
	--color-bg-designit: #a2d39b;
	--color-bg-asu: #61082b;
	--color-bg-uniflorida: #0093ce;
	--color-bg-topps: #ff1c1c;
	--color-bg-designit-center: #f5f5f5;
	--color-bg-bicycle: #d5001f;
	--color-bg-lonelyplanet: #0d2481;
	--color-bg-herst: #b4d0e7;
	--color-bg-clearchannel: #ffd830;
	--color-text-buisness: #61082b;
}

.container{
    max-width: 1200px;
    margin: 0 auto;
}

.padding{
    padding: 30px;
}

/*header*/

header{
    background-color: var(--color-background-image);
	margin-bottom: 60px;
}

nav{
    background-color: var(--color-background);
	height: 60px;
	position: fixed;
	width: 100%;
	z-index: 2001;
}

nav a{
	color: var(--color-background-footer);
}

nav li{
	padding: 10px;
}

.start{
	background-color: var(--color-button);
	color: var(--color-background);
	padding: 10px;
}

h1{
	text-align: left;
	font-size: 3em;
	margin-bottom: 20px;
}

.pad-b{
	padding-bottom: 40px;
}

header .fa-solid{
	position: absolute;
	bottom: 65px;
	font-size: 3em;
}

.img{
	width: 600px;
}

#hero{
	position: relative;
	top: 60px;
}

/*main*/

.pad-r{
	padding-right: 100px;
}

.bord{
	border: 1px solid var(--color-background-footer);
	margin-top: 20px;
}

.bord-b{
	border-bottom: 1px solid var(--color-background-footer);
	text-align: center;
}

.pad{
	padding: 10px;
}

.pad-top{
	padding-top: 20px;
}

.li-pad{
	padding-bottom: 20px;
}

.t-d a{
	text-decoration: underline;
}

.bbm{
	border-top: 1px solid grey;
	width: 10%;
	position: relative;
	left: 0px;
	margin-top: 20px;
	padding: 20px 0 20px 0;
}

.fa-check{
	color: var(--color-button);
}

.calc{
	width: 32%;
}

#partner img{
	width: 600px;
	margin-right: 20px;
}

#partner div{
	margin-top: 150px;
}

#partner h3, #partner p{
	padding-bottom: 20px;
}

#partner a{
	border: 1px solid grey;
	color: grey;
	padding: 10px;
}

#business img{
	width: 300px;
}

#business h2, #team h2{
	margin-bottom: 50px;
}

.card{
	width: calc(100% / 3 - 10px);
}

#team a{
	text-decoration: underline;
}

#agency{
    width: 100%;
	gap: 10px;
}

.card2{
	width: calc(100% / 3);
}

.b{
	border-top: 2px solid grey;
	padding-top: 20px;
	margin-top: 20px;
	position: relative;
}

.bg-design{
	background-color: var(--color-bg-designit-center);
	padding: 30px;
	aspect-ratio: 1 / 1;
}

#agency img{
	width: 120px;
}

.w-div{
	width: 50%;
}

.marg{
	filter: invert(100%);
}

.bg-des{
	background-color: var(--color-bg-designit);
}

.bg-arizona{
	background-color: var(--color-bg-asu);
}

.bg-florida{
	background-color: var(--color-bg-uniflorida);
}

.bg-topps{
	background-color: var(--color-bg-topps);
}

.bg-bicycle{
	background-color: var(--color-bg-bicycle);
}

.bg-hearts{
	background-color: var(--color-bg-herst);
}

.bg-lonely{
	background-color: var(--color-bg-lonelyplanet);
}

.bg-clear{
	background-color: var(--color-bg-clearchannel);
}

.marg{
	margin: auto;
}

#agency h2{
	color: var(--color-text-buisness);
}

.bg-agency{
	background-color: var(--color-bg-herst);
	padding: 50px;
}

#agency a{
	background-color: var(--color-background);
	color: grey;
	padding: 10px;
}

#agency .bg-design>img{
	width: 300px;
}

/*footer*/

footer{
	background-color: var(--color-background-footer);
	padding-top: 50px;
}

footer a, footer h3{
	color: var(--color-background);
}

footer li{
	margin-bottom: 15px;
}

.bb{
	border-top: 1px solid grey;
	color: var(--color-bg-designit-center);
	width: 10%;
	position: relative;
	left: 0px;
	margin-top: 20px;
	padding: 20px 0 20px 0;
}

/*flex utlility*/

.d-flex{
	display: flex;
}

.s-between{
	justify-content: space-between;
}

.column{
	flex-direction: column;
}

.wrap{
	flex-wrap: wrap;
}

.align{
	align-items: center;
}

.fa-angle-up{
	position: absolute;
	right: 25px;
}